.login-wrapper {
  overflow: auto;
  content: "";
  background-image: url("../../Images/Group\ 21.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.login-wrapper-container {
  border: white solid 5px;
  background: rgba(255, 255, 255, 0.45);
  border-radius: 60px;
  width: 70%;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-content {
  width: 50%;
}
.login-content-h1 {
  font-size: 50px;
  font-weight: 400;
}
.login-content-p {
  font-size: 30px;
}
.username {
  display: flex;
  flex-direction: column;
}
.about-username {
  font-size: 30px;
  margin-bottom: 10px;
}
.username-input {
  width: 75%;
  padding: 10px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.45);
  border: solid 2px #689dff;
  font-size: 25px;
  margin-bottom: 15px;
}
.username-input:focus {
  border-color: #689dff;
  outline: none;
}
.login-button {
  border: none;
  padding: 10px;
  width: 20%;
  background-color: #689dff;
  color: white;
  font-size: 30px;
  margin-top: 8%;
  border-radius: 10px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 58%;
}
.login-pic {
  width: 80%;
}
.error-message{
    color: #E45F96;
    font-size: 20px;
    font-weight: 500;
}
.login-a{
    color: #689dff;
    text-decoration: none;
}