.next-button{
    border: none;
    padding: 10px;
    width: 20%;
    background-color: #689dff;
    color: white;
    font-size: 30px;
    /* margin-top: 8%; */
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
}
.previous-button{
    border: none;
    padding: 10px;
    width: 22%;
    background-color: #689dff;
    color: white;
    font-size: 30px;
    /* margin-top: 8%; */
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
}
.register-button{
    border: none;
    padding: 10px;
    width: 20%;
    background-color: #689dff;
    color: white;
    font-size: 30px;
    /* margin-top: 8%; */
    border-radius: 10px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 37%;
}