.cart-wrapper-div1 {
  background-image: url("../../Images/Desktop\ -\ 2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 645px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.cart-title-h1{
  font-size: 50px;
}
.cart-login-link {
  /* background-color: #689dff;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-decoration: none; */
  margin: 0 auto;
  text-decoration: none;
  padding: 30px;
  border: unset;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  z-index: 1;
  background-color: #689dff;
  position: relative;
  font-size: 30px;
  transition: all 250ms;
  overflow: hidden;
  margin-top: 20px;
}
.cart-login-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  background-color: #0059ff;
  z-index: 2;
  transition: all 250ms;
}
.cart-login-link span{
  position: absolute;
  z-index: 3;
}
.cart-login-link:hover {
  color: white;
}
.cart-login-link:hover::before {
  width: 100%;
  z-index: -1;

}

/* .cart-login-link:hover {
  background-color: transparent;
  color: black;
  border: #689dff solid 2px;
} */
.cart-wrapper {
  background-image: url("../../Images/Desktop\ -\ 2.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cart-item-image > img {
  width: 150px;
  height: 150px;
}
.cart-button-icon {
  background-color: transparent;
  border: none;
  font-size: 30px;
}
.cart-button-icon:hover {
  cursor: pointer;
  color: #e45f96;
}
.cart-header {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  margin-bottom: 20px;
  /* margin-top: 10px; */
}
.cart-title {
  font-size: 80px;
  font-family: Yellowtail;
  font-weight: 400;
}
.cart-totals {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 40%;
  margin: 4% 45% 5%;
  border-radius: 5px;
}

.cart-totals-first {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  border-radius: 5px;
  border: 1px solid #6d71ff;
  background-color: white;
}

.cart-totals-second-button {
  padding: 10px;
  width: 100%;
  background-color: #689dff;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
}
@media only screen and (max-width: 767px) {
  .cart-table {
    margin-bottom: 10%;
  }
  .cart-totals {
    margin: auto;
    margin-bottom: 10%;
    width: 70%;

  }
  .cart-totals-first {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #6d71ff;
    background-color: white;
  }
  .cart-totals-second-button {
    padding: 10px;
    width: 100%;
    background-color: #689dff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    font-size: 19px;
    border-radius: 5px;
  }
  .cart-title-h1{
    padding-left: 10px
  }
}
