.user-info-wrapper {
  margin-left: auto;
  margin-right: auto;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userinfo-first {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.paintinginfo-first {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45%;
}
.logout {
  text-decoration: none;
  padding: 10px;
  border: unset;
  border-radius: 10px;
  color: white;
  z-index: 1;
  background-color: #689dff;
  position: relative;
  font-size: 30px;
  transition: all 250ms;
  overflow: hidden;
  margin-top: 20px;
  cursor: pointer;
}
.logout::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  background-color: #0059ff;
  z-index: -1;
  transition: all 250ms;
}
.logout:hover {
  color: white;
}
.logout:hover::before {
  width: 100%;
}
.add_painting {
  margin: 0 auto;
  text-decoration: none;
  padding: 30px;
  border: unset;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  color: white;
  z-index: 1;
  background-color: #689dff;
  position: relative;
  font-size: 30px;
  transition: all 250ms;
  overflow: hidden;
  margin-top: 20px;
}
.add_painting::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  background-color: #0059ff;
  z-index: 2;
  transition: all 250ms;
}
.add_painting span{
  position: absolute;
  z-index: 3;
}
.add_painting:hover {
  color: white;
}
.add_painting:hover::before {
  width: 100%;
  z-index: -1;

}
.userinfo-h1 {
  font-family: Yellowtail;
  font-size: 80px;
  font-weight: 400;
}
.paintinginfo-h1 {
  margin-left: 10%;
  font-family: Yellowtail;
  font-size: 80px;
  font-weight: 400;
}
.userinfo-second {
  padding: 10px;
  width: 80%;
  display: flex;
  gap: 10%;
  justify-content: center;
  align-items: center;
}
.userinfo-form {
  width: 100%;
  padding: 10px;
  padding-left: 10%;
  margin-bottom: 10px;
}
.classname-form{
  width: 50%;
  border: #6d71ff solid 3px;
  box-shadow: 4px 4px 4px rgba(0.8, 0.8, 0.8, 0.8);
  background-color: #fbfbfb;
  border-radius: 20px;
  margin-bottom: 10%;
}
.user-username {
  font-size: 30px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.user-usernameee {
  font-size: 40px;
  font-family: Yellowtail;
}
.username--user {
  margin-top: 5%;
  font-size: 20px;
}
.update-Address {
  font-size: 40px;
  font-family: Yellowtail;
}
.user-inputs {
  width: 75%;
  padding: 10px;
  border-radius: 12px;
  border: solid 2px #6d71ff;
  font-size: 20px;
  background-color: white;
}
.user-inputs:focus {
  border-color: #6d71ff;
  outline: none;
}
.submit-button {
  text-decoration: none;
  padding: 10px;
  border: unset;
  border-radius: 10px;
  color: white;
  z-index: 1;
  background-color: #689dff;
  position: relative;
  font-size: 30px;
  transition: all 250ms;
  overflow: hidden;
  margin-top: 20px;
  cursor: pointer;
}
.submit-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 10px;
  background-color: #0059ff;
  z-index: -1;
  transition: all 250ms;
}
.submit-button:hover {
  color: white;
}
.submit-button:hover::before {
  width: 100%;
}
.profileimg-div {
  width: 50%;
  height: auto;
}
.profilee-img {
  width: 100%;
}
.order-info-wrapper{
  margin-bottom: 10%;
}

@media only screen and (max-width: 767px){
  .profileimg-div{
    display: none;
  }
  .userinfo-first {
    margin-top: 10px;
    width: 60%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .userinfo-h1 {
    font-size: 60px;
  }
  .paintinginfo-h1 {
    font-size: 60px;
  }
  .paintinginfo-first {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .classname-form{
    width: 90%;
  }
  .username--user {
    margin-top: 8%;
  }
  .submit-button {
    width: 40%;
  }
}