.paintings-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title {
  text-align: center;
  font-size: 50px;
}
.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.line {
  width: 50%;
}
/* .paintings-content {
  width: 90%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border: red 2px solid;
  padding: 10px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 400px;
  justify-content: center;
}

.painting {
  width: 390px;
  height: 390px;
  border-radius: 20px;
  object-fit: cover;
} */

.paintings-content {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.painting {
  max-width: 400px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  object-fit: cover;
}
.title-carousel {
  border: black solid 2px;
  padding: 10px;
  width: 30%;
  background-color: transparent;
  color: black;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 400;
  cursor: pointer;
}
.view-button {
  background-color: transparent;
  text-decoration: none;
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
}
