.paintings-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title {
  text-align: center;
  font-size: 80px;
  font-family: Yellowtail;
}
.page-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.paintings-content {
  width: 90%;
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.painting {
  max-width: 400px;
  aspect-ratio: 1/1;
  border-radius: 20px;
  object-fit: cover;
}
.dropdown-menu{
  width: 20%;
}
.overlay{
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
.view-button {
  background-color: transparent;
  text-decoration: none;
  color: black;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}
@media only screen and (max-width: 767px) {
  /* Styles for small screens */
  .page-header {
    display: flex;
    flex-direction: column;
  }
  .dropdown-menu{
    width: 60%;
    margin-bottom: 10%;
  }
  .painting {
    max-width: 300px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    object-fit: cover;
  }
}